/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';
@theme {
  --color-creme: #f4f0e9;
  --color-vert: #1d2b25;
  --color-beige: #e9e0d3;
  --color-moutarde: #d99a2b;
}
html {
  scroll-behavior: smooth;
  scroll-padding-top: 4rem;
}
